@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: url('../../public/background.png');
  background-size: cover;
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Предотвращает повторение изображения */

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fly {
  0% {
      transform: translateY(0);
      opacity: 1;
  }
  100% {
      transform: translateY(-150px);
      opacity: 0;
  }
}

.number{
  position: absolute;
  animation: fly 2s forwards;
  font-size: 24px;
  color: white;
  pointer-events: none;
}

*{
  box-sizing: border-box;
}